@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #f8f9fa;
}

::-webkit-scrollbar {
    display: none;
}

/* Header */

.navbar {
    width: 100% !important;
    box-shadow: 0 0 15px black;
}

.phone {
    color: black !important;
    
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Cinzel', serif;
}

.brand-text {
    font-size: 24px;
    text-transform: none;
}

.navbar-nav {
    margin-left: 400px !important;
}

.header {
    display: flex !important;
    justify-content: baseline !important;
}

/*Hero Section*/

.hero-section {
    width: 100% !important;
    height: 100vh !important;
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.title {
    font-size: 128px;
    font-family: 'Cinzel Decorative', cursive;  
    text-align: center;
    color: white;
}


.sub-title {
    text-align: center;
    font-size: 58px;
    color: white;
    font-family: 'Montserrat', serif;
    font-weight: 100;
}

.quality {
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', serif;
    font-weight: 300;
}

/*Store*/
.disc {
    font-size: 18px;
}

.text {
    margin: 75px 0;
    text-align: center;
    font-family: 'Montserrat', serif;
}


.image1 {
    background-image: url('item1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 45%;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 75%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.568);
}

.image2 {
    background-image: url('item2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 45%;
    height: 70%;
    position: absolute;
    object-fit: cover;
    right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.568);
}

.image3 {
    background-image: url('item3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 45%;
    height: 70%;
    position: absolute;
    object-fit: cover;
    left: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.568);
}

.image4 {
    background-image: url('item4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 45%;
    height: 70%;
    position: absolute;
    right: 0;
    object-fit: cover;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.568);
}

.products {
    position: relative !important; 
    width: 100% !important;
    height: 100vh !important;
}

.con-btn {
    margin-top: 20px !important;
    background: white !important;
    color: black !important;
    border: none;
    font-weight: 400;
    border: 1px solid black;
    transition: all .5 ease;
    font-size: 20px !important;
}

.con-btn:hover {
    background: black !important;
    color: white !important; 
}

.products-title h2 {
    font-family: 'Montserrat', serif !important;
    font-weight: 400;    
}

.discription-block1 {
    position: absolute;
    right: 0;
    height: 70%;
    text-align: left;
}

.discription-block2 {
    position: absolute;
    left: 0;
    height: 70%; 
}

.discription-block3 {
    position: absolute;
    right: 0;
    height: 70%; 
}

.discription-block4 {
    position: absolute;
    left: 0;
    height: 70%; 
}

.disc {
    font-family: 'Montserrat', serif !important;
    font-weight: 400;
}

.products-title {
    width: fit-content;
}

.card-title {
    font-size: 24px;
    font-family: 'Montserrat', serif !important;
    font-weight: 400;
}

.card-text {
    font-family: 'Montserrat', serif !important;
    font-weight: 400;
}
/* Offer */

.offer {
    width: 100% !important;
    height: 100vh !important;
}

.offer-text {
    font-size: 128px;
    font-family: 'Cinzel Decorative', cursive;  
    text-align: center;
    color: rgb(0, 0, 0);
}

.offer-itself h3 {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', serif !important;
    font-weight: 400;
}

.num {
    display: flex;
    justify-content: center;   
    width: 100%;
}

.num h1 {
    font-weight: bold;
    font-family: 'Montserrat', serif !important;
    font-size: 280px;
}

.letters {
    width: 100%;
}

.letters h2 {
    width: fit-content !important;
    font-family: 'Montserrat', serif !important;
    font-size: 25px;
    text-align: left !important;
}

.deal {
    margin-top: 50px;
    padding: 0 90px;
    width: 100%;
}

.titles {
    display: flex !important;
    justify-content: center;
}

.num span {
    font-size: 16px;
}

.delivery {
    margin-top: 150px;
    display: flex !important;
    justify-content: space-between !important;
    max-width: 100% !important;
    height: 100vh !important;
    flex-direction: column;
    position: relative;
}

.img-fluid {
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.text-muted {
    position: absolute;
    bottom: 2%;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 18px; 
}


.card1 {
    position: absolute;
    top: 10%;
    left: 9%;
    margin-top: 20px;
}

.card1, .card2, .card3 {
    box-shadow: 0 0 60px rgb(150, 150, 150);
    border: none;
    transition: all .5s ease !important;
}

.delivery h1 {
    text-align: center;
    font-family: 'Montserrat', serif;
}

.card2 {
    position: absolute;
    right: 10%;
    top: 25%;
    transition: all .5s ease !important;
}

.card3 {
    position: absolute;
    left: 10%;
    top: 50%;
    transition: all .5s ease !important;
}

.card1:hover {
    z-index: 7;
}

.card2:hover {
    z-index: 7;
}

.card3:hover {
    z-index: 7;
}


.cards-mobile-version {
    margin-top: 150px !important;
    width: 100vw;
    height: 100vh;
    display: none;
}

.cards {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1em;
}

.cards .card {
    border: none !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}

.pt-4 {
    color: black;
}

/* Media Queries */

@media (max-width: 1200px) and (orientation: portrait) {
    .navbar-nav {
        margin-left: 0 !important;
    }
    
    h1 {
        font-size: 3em !important;
    }

    h2 {
        font-size: 3em !important;
    }

    h3 {
        font-size: 2em !important;
    }

    h4, .offer-title {
        font-size: 4em !important;
    }

    .letters h2 {
        font-size: 2em !important;
    }

    .num h1 {
        font-size: 10em !important;
    }

    .image1, .image2, .image3, .image4 {
        margin-top: 40px !important;
    }

    .delivery {
        margin-top: 150px;
    }


}

@media (min-width: 1300px) {
    .delivery h1 {
        display: none;
    }
}

@media (max-width: 1200px) and (orientation: landscape) {
    .navbar-nav {
        margin-left: 0 !important;
    }

    .delivery {
        margin-top: 150px;
    }
}

@media (max-width: 300px) and (orientation: portrait) {
    .navbar-nav {
        margin-left: 0 !important;
    }
}

@media (max-width: 1300px) {
    .navbar-nav {
        margin-left: 0 !important;
    }

    .first h1 {
        font-size: 5em !important;
    }

    .image1, .image2, .image3, .image4 {
        top: 40%;
    }

    .discription-block1, .discription-block2,
    .discription-block3, .discription-block4 {
        top: 10%; 
    } 

    .offer {
        margin-top: 100px;
    }

    .delivery {
        margin-top: 150px;
    }
}

@media (min-width: 1000px) {
    .products-title h2::after {
        content: '';
        display: block !important;
        background-color: black;
        width: auto;
        height: 2px;
    }
    .mobile {
        display: none;
    }
}

@media (max-width: 999px) {
    .products {
        display: none;
    }

    .card-text {
        font-size: 2em;
    }

    .card-title {
        font-size: 2em;
    }

    .cards1 {
        font-size: 1em;
    }

    .num span {
        font-size: 2em;
    }

    .letters {
        display: none !important;
    }

    .delivery {
        margin-top: 350px;
    }
}

@media (max-width: 700px) {
    .card-title {
        font-size: 1.5em !important;
    }

    .card-text {
        font-size: 1.3em;
    }

    .text h1 {
        font-size: 1.8em;
    }

    .first h1 {
        font-size: 4em !important;
    }

    .letters h2 {
        font-size: 2em !important;
    }

    .num h1 {
        font-size: 10em !important;
    }

    .num span {
        font-size: 2em;
    }

    .image1, .image2, .image3, .image4 {
        top: 35%;
    }

    .delivery {
        margin-top: 50px !important;
    }
}

@media (max-width: 600px) {
    .card-title {
        font-size: 1.3em !important;
    }

    .card-text {
        font-size: 1.1em;
    } 
    
    .text h1 {
        font-size: 1.6em;
    }

    .first h1 {
        font-size: 4em !important;
    }
    .offer-text {
        font-size: 5.5em;
    }

    .offer-itself h3 {
        font-size: 1.4em !important;
    }

    .letters h2 {
        font-size: 2em !important;
    }

    .num h1 {
        font-size: 10em !important;
    }

    .delivery {
        margin-top: 150px;
    }
}

@media (max-width: 500px) {
    .card-title {
        font-size: 1.1em !important;
    }

    .card-text {
        font-size: 0.9em !important;
    }  
    
    .text h1 {
        font-size: 1.5em !important;
        font-weight: 400 !important;
    }

    .first h1 {
        font-size: 4em !important;
    }

    .letters {
        display: none !important;
    }

    .num h1 {
        font-size: 8em !important;
    }

    .delivery {
        margin-top: 100px !important;
    }
}

@media (max-width: 1100px) {
    .products {
        margin-bottom: 50px;
    }

    .image1, .image2, .image3, .image4 {
        top: 35%;
    }
}

@media (min-width: 999px) {
    .num span {
        display: none !important;
    }

    .delivery {
        margin-top: 250px;
    }
}

@media (max-width: 300px) {
    .offer-text {
        font-size: 3em !important;
    }
}

@media (max-width: 500px) {
    .remove-span {
        display: none !important;
    }
    .image1, .image2, .image3, .image4 {
        top: 35%;
    }
    .delivery {
        margin-top: 50px !important;
    }
}

@media (max-width: 800px) {
    .delivery {
        margin-top: 650px !important;
    }

    .img-fluid {
        height: 100%;
        width: 100%;
    }

    .delivery .card-body  {
        max-height: 70%;
        height: 70%;
        width: 70%;
    }
}

@media (max-width: 770px) {
    .delivery {
        margin-top: 350px;
    }

    .img-fluid {
        height: 100% !important;
        width: 100% !important;
    }

    .delivery .card-body  {
        max-height: 60% !important;
        height: 60% !important;
        width: 60% !important;
    }

    .cards-mobile-version {
        display: block;
        margin-top: 750px !important;
    }

    .cards .card {
        min-width: 100% !important;
    }

    .cards .card-header {
        font-family: 'Montserrat', serif !important;
        font-size: 28px !important;
    }
}

@media (max-width: 900px) {
    .delivery {
        margin-top: 350px;
    }
}

@media (max-width: 770px) {
    .delivery {
        display: none !important;
    }
    
}

@media (max-width: 840px) {
    .delivery {
        margin-top: 700px;
    }
}

@media (max-width: 860px) {
    .delivery {
        margin-top: 500px !important;
    }
}

@media (max-width: 853px) {
    .delivery {
        margin-top: 700px !important;
    }
}

@media (max-width: 850px) {
    .delivery {
        margin-top: 900px;
    }
}

@media (max-width: 670px) {
    .delivery {
        margin-top: 300px !important;
    }
}
